{% extends "base.html" %}
{% block title %}Criar Instancias{% endblock %}

{% block content %}
<!-- Alertas de Erro ou Sucesso -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'danger' %}
                <div id="alert" class="container text-start">
                    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                        <i class="bi bi-exclamation-triangle-fill"></i>
                         {{ message }}.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            {% elif category == 'success' %}
            <div id="alert" class="container text-start">
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <i class="bi bi-check-circle-fill"></i>
                     {{ message }}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
            {% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<div id="inicio" class="container text-start">
    <div class="row">
        <form action="{{ url_for('criar_instancias')}}" method="POST" id="criarInstancia" name="criarInstancia">
            <div class="card">
                <h4 class="card-header">Criar instâncias</h4>
                <div class="card-body">
                    <h6 class="card-title">NOME DA INSTÂNCIA</h6>
                    <input type="text" class="form-control mb-3" id="addInstancia" name="addInstancia" placeholder="nome da instância" required>
                    <input type="submit" class="btn btn-success btn-sm" value="Criar Instância">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}